//Width

.is-w-full {
  width: 100%;
}

.is-w-95 {
  width: 95%;
}

.is-w-90 {
  width: 90%;
}

.is-w-85 {
  width: 85%;
}

.is-w-80 {
  width: 80%;
}

.is-w-75 {
  width: 75%;
}

.is-w-70 {
  width: 70%;
}

.is-w-65 {
  width: 65%;
}

.is-w-60 {
  width: 60%;
}

.is-w-55 {
  width: 55%;
}

.is-w-50 {
  width: 50%;
}

.is-w-45 {
  width: 45%;
}

.is-w-40 {
  width: 40%;
}

.is-w-35 {
  width: 35%;
}

.is-w-30 {
  width: 30%;
}

.is-w-25 {
  width: 25%;
}

.is-w-20 {
  width: 20%;
}

//Height

.is-h-full {
  height: 100%;
}

.is-h-25 {
  height: 25px;
}

.is-h-35 {
  height: 35px;
}

.is-h-50 {
  height: 50px;
}

.is-h-75 {
  height: 75px;
}

.is-h-100 {
  height: 100px;
}

.is-h-125 {
  height: 125px;
}

.is-h-150 {
  height: 150px;
}

.is-h-175 {
  height: 175px;
}

.is-h-200 {
  height: 200px;
}

.is-h-250 {
  height: 250px;
}

.is-h-275 {
  height: 275px;
}

.is-h-300 {
  height: 300px;
}

.is-h-400 {
  height: 400px;
}

.is-h-450 {
  height: 450px;
}

.is-max-300 {
  height: 300px;
}

.is-max-500 {
  height: 500px;
}

.is-max-600 {
  height: 600px;
}

//height by percentage

.is-hp-50 {
  height: 50%;
}

.is-hp-55 {
  height: 55%;
}

.is-hp-60 {
  height: 60%;
}

.is-hp-65 {
  height: 65%;
}

.is-hp-70 {
  height: 70%;
}

.is-hp-80 {
  height: 80%;
}

//heigt by min

.is-hm-50 {
  min-height: 50px;
}

.is-hm-100 {
  min-height: 100px;
}

.is-hm-300 {
  min-height: 300px;
}

//Height by vh

.is-hv-75 {
  min-height: 75vh;
}

.is-hv-80 {
  min-height: 80vh;
}

.is-hv-85 {
  min-height: 85vh;
}

.is-hv-90 {
  min-height: 90vh;
}
